.pdf-container {
	background-color: #010805;
  width: 95vw;
  height: 100vh;
  overflow-x: hidden;
}
.google-slides-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #00bb8b;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  border-radius: 15px;
  transition: 0.2s all;
  cursor: pointer;
}
.google-slides-icon {
  fill: #00bb8b !important;
  font-size: 18px !important;
}
.google-slides-button-text {
    font-size: 13px;
    padding-left: 10px;
    font-weight: 500;
    color: #00bb8b;
}
.google-slides-button-flex:hover {
  background-color: #00bb8b;
}
.google-slides-button-flex:hover .google-slides-icon {
  fill: white !important;
}
.google-slides-button-flex:hover .google-slides-button-text {
  color: white;
}
.pdf-header-flex {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pdf-close-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 7px;
  padding-top: 5px;
  cursor: pointer;
  transition: 0.2s all;
  width: 255px;
}
.pdf-close-icon {
  font-size: 18px !important;
  margin-right: 5px !important;
  transition: 0.2s all;
}
.pdf-close-text {
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s all;
}
.pdf-close-flex:hover .pdf-close-icon {
  fill: #0ce0ab
}
.pdf-close-flex:hover .pdf-close-text {
  color: #0ce0ab
}
.pdf-flex-no-hover {
  cursor: auto;
}
.pdf-flex-no-hover:hover .pdf-close-icon {
  fill: white !important;
}
.pdf-flex-no-hover:hover .pdf-close-text {
  color: white;
}
.pdf-document {
  width: 100%;
  overflow-x: hidden;
}
.pdf-page {
  width: 100%;
}
.pdf-loading-page-container {
  height: auto !important;
  min-height: 720px;
  display: block;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pdf-loading-text {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.react-pdf__Page__canvas {
  width: auto !important;
  height: max-content !important;
  max-width: 97vw !important;
  max-height: 80vh !important;
  display: block;
  margin: auto;
}
.pdf-page-number-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.pdf-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.pdf-button {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0a503f;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  transition: 0.2s all;
}
.pdf-button:hover {
  background-color: #0a9d78;
}
.pdf-button-icon {
  font-size: 32px !important;
}
@media print {
    .pdf-container {
      display: none;
    }
}
.css-15bmo69-MuiPaper-root-MuiDialog-paper {
  max-height: none !important;
  max-width: none !important;
  margin: 0px !important;
  margin-top: 30px !important;
}