* {
  text-decoration:none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  margin: 0px;
  padding: 0px;
  list-style-type:none;
}