* {
	color: white;
}
body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color: rgb(0, 43, 33);
}
.gradebook-class-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.gradebook-header-text {
    font-size: 13px;
    font-weight: 600;
}
.gradebook-flex-header-item {
    width: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #007154;
    background-color: #0c5140;
}
.quiz-flex-item {
    width: 33px;
    text-align: center;
}
.gradebook-class-dropdown {
    background: white;
    outline: none;
    border: 1px solid white;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 10px;
    width:fit-content;
}
.gradebook-description-text {
    font-size: 14px;
    font-weight: 300;
}
.gradebook-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.gradebook-export-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    color: #41d0ac;
    border-color: #41d0ac;
    transition: 0.2s all;
    cursor: pointer;
    height: 20px;
    background: none;
}
.gradebook-export-button:hover {
    color: white;
    background-color: #41d0ac;
}
.gradebook-export-icon {
    font-size: 18px !important;
    margin-right: 7px;
    fill: #41d0ac;
    transition: 0.2s all;
}
.gradebook-export-button:hover .gradebook-export-icon {
    fill: white;
}
.export-button-text {
    color: #41d0ac;
}
.gradebook-back-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    color: #ff7000;
    border-color: #ff7000;
    transition: 0.2s all;
    cursor: pointer;
    height: 20px;
    background: none;
}
.gradebook-back-button:hover {
    color: white;
    background-color: #ff7000;
}
.gradebook-back-icon {
    font-size: 18px !important;
    margin-right: 7px;
    fill: #ff7000;
    transition: 0.2s all;
}
.gradebook-back-button:hover .gradebook-back-icon {
    fill: white;
}
.export-back-text {
    color: #ff7000;
}
.gradebook-back-button:hover .export-back-text {
    color: white;
}
.gradebook-class-option {
    color: #000000;
}
.gradebook-class-option-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gradebook-class-option-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
    
    transition: 0.2s all;
    cursor: pointer;
    height: 20px;
    background: none;
    outline: none;
    border: 1px solid #41d0ac;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 10px;
    width: -moz-fit-content;
    width: fit-content;
}
.gradebook-class-option-selected {
    background-color:#049f78;
    color: #ffffff;
}
.gradebook-class-option-unselected {
    background: none;
    color: #41d0ac;
}
.gradebook-class-option-selected:hover {
    background-color:#049f78;
    color: white;
}
.gradebook-class-option-unselected:hover {
    background-color:#186854;
    color: white;
}
.gradebook-class-option-icon {

}
.gradebook-export-button:hover .export-button-text {
    color: white;
}
.gradebook-empty-image {
    width: 170px;
    height: 170px;
    margin: auto;
    display: block;
    margin-top: 65px;
    margin-bottom: 15px;
}
.gradebook-empty-header {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #1ce0af;
    padding-bottom: 5px;
}
.gradebook-empty-text {
    width: 300px;
    margin: auto;
    font-size: 18px;
    font-weight: 200;
    padding-bottom: 40px;
    text-align: center;
}
.gradebook-view-example-button {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 140px;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid #14a27f;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s all;
    color: #14a27f;
}
.gradebook-view-example-button:hover {
    background-color: #14a27f;
    color: white;
}
.student-grade-item {
    border-bottom: 1px solid #007154;
}
.student-grade-name-container {
    margin: auto;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 25px;
    padding-bottom: 15px;
    cursor: pointer;
    transition: 0.2s all;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.student-grade-name-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.student-grade-name-text {
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 4px;
}
.student-grade-username {
    font-size: 13px;
    font-weight: 600;
    color: #07e2aa;
    margin-top: -2px;
}
.overview-grade-container {
    margin-bottom: 15px;
}
.student-grades-overview {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    flex-wrap: wrap;
}
.student-grades-completed-text {
    font-size: 11px;
    padding-top: 6px;
    font-weight: 400;
}
.student-grades-expanded {

}
.overview-grade-text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
}
.overview-grade-circle {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 3px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s all;
}
.overview-grade-circle:hover {
    background-color: #ffffff1c;
}
.student-grade-instructions {
    font-size: 14px;
    font-weight: 200;
    padding-top: 8px;
    width: 520px;
}
.grade-circle-percent {
    font-size: 10px;
    font-weight: 800;
    margin-bottom: -1px;
}
.grade-circle-number {
    font-size: 15px;
    font-weight: 600;
    padding-right: 2px;
}
.student-grades-empty-description {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    color: #6e6e6e;
}
.quiz-questions {
	margin-bottom: 100px;
}
.gradebook-details-sort-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.gradebook-sort-icon {
    font-size: 15px;
    fill: #39ffcc;
    margin-right: 2px;
}
.gradebook-details-sort-text {
    color: #39ffcc;
    font-size: 12px;
    font-weight: 500;
    padding-right: 5px;
}
.sort-subtext {
    font-weight: 700;
    margin-bottom: -1px;
    color: #c9fff1;
}
.gradebook-details-sort-flex:hover .sort-subtext {
    text-decoration: underline;
}
.detailed-grades-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 5px;
}
.detailed-grades-title {
    font-size: 20px;
    font-weight: 200;
}
.detailed-grades-score {
    padding-left: 10px;
    font-size: 22px;
    font-weight: 700;
}
.detailed-grades-percent-complete {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 15px;
}
.question-item {

}
.question-main {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    cursor: pointer;
}
.question-main-flex {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.question-number {
    width: 30px;
    font-size: 18px;
    font-weight: 800;
}
.question-text {
    font-size: 19px;
    font-weight: 200;
    width: fit-content;
}
.question-icon {

}
.question-expanded {
	max-width: 800px;
    margin: auto;
    background-color: #ffffff1c;
	padding: 25px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 13px;
}
.question-expanded-header {
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
}
.question-response {
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 25px;
}
.results-back-button {
    font-size: 14px;
    font-weight: 400;
    width: 150px;
    padding: 15px;
	cursor: pointer;
	transition: 0.2s all;
}
.results-flex {
	max-width: 830px;
    margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 6px;
}
.results-back-button:hover {
	font-weight: 700;
}
.results-title {
	font-size: 24px;
    font-weight: 200;
	padding-bottom: 15px;
}
.gradebook-no-course-image {
    display: block;
    margin: auto;
    width: 185px;
    margin-top: 75px;
    margin-bottom: 8px;
    padding-left: 15px;
}
.gradebook-no-course-h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #35ffcb;
    padding-bottom: 6px;
}
.gradebook-no-course-p {
    max-width: 350px;
    width: 95%;
    text-align: center;
    margin: auto;
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 260px;
}
.class-summary-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
}
.class-summary-title-icon {
    fill: #b3ffeb;
}
.class-summary-title-text {
    font-size: 17px;
    font-weight: 600;
    color: #b3ffeb;
}
.class-summary-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 17px;
    border-bottom: 1px solid white;
    margin-bottom: 17px;
}
.class-summary-item {

}
.class-summary-number {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 4px;
}
.class-summary-text {
    font-size: 10px;
    font-weight: 700;
    color: #07e2aa;
}
.class-summary-quiz-container {

}
.summary-quiz-item {

}
.summary-quiz-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #ffffff2b;
    padding-left: 15px;
    padding-right: 15px;
}
.summary-quiz-item-main:hover {
    background-color: #ffffff17;
}
.summary-quiz-left {

}
.summary-left-flex {
    display: flex;
    padding-bottom: 2px;
}
.summary-quiz-number {
    font-size: 18px;
    font-weight: 800;
    color: #ffb900;
    padding-right: 8px;
}
.summary-quiz-title {
    font-size: 18px;
    font-weight: 300;
}
.summary-quiz-subtext {
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
    color: #ffffff6e;
}
.summary-quiz-right {
    display: flex;
}
.summary-quiz-right-item {
    margin-left: 30px;
}
.summary-quiz-right-subtitle {
    font-size: 10px;
    font-weight: 700;
    color: #07e2aa;
}
.summary-quiz-score {

}
.summary-quiz-item-expanded {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;
}
.summary-item-column {
    width: 33%;
}
.summary-column-title { 
    font-size: 13px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}
.summary-column-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 7px;
}
.column-name {
    font-size: 13px;
    font-weight: 400;
}
.column-score {
    font-size: 13px;
    font-weight: 400;
}