* {
	color: white;
}
body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color: rgb(0, 43, 33);
}
path {
	color: white;
}
.search-library-container {
    max-height: 820px;
    min-height: 700px;
    overflow-y: scroll;
}
.search-bar {
    outline: none;
    border: none;
    display: block;
    background: #16372f;
    color: white;
    /* border: 2px solid white; */
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
    width: 45%;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 400;
}
.search-bar-options {
    margin-left: 3%;
    display: flex;
    margin-top: 9px;
    margin-bottom: 16px;
}
.search-resources-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.search-option {
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid #90bfb0;
    border-radius: 20px;
    color: #90bfb0;
    cursor: pointer;
    transition: 0.2s all;
}
.search-option:hover {
    background-color: #90bfb0;
    color: white;
}
.library-result-flex-item {
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid #054636;
    margin-bottom: 9px;
    margin-top: 9px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 18px;
    cursor: pointer;
    transition: 0.2s all;
}
.library-result-flex-item:hover {
    background-color: #083b2e;
}
.library-result-title {
    font-size: 15px;
    font-weight: 600;
    color: #00f8b9;
}
.library-result-module {
    font-size: 13px;
    font-weight: 200;
    padding-bottom: 5px;
    color: #c5d6d1;
}
.library-result-summary {
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 20px;
    color: #d6fff5;
}
.result-keywords {
    display: flex;
    margin-top: 8px;
    padding-bottom: 18px;
}
.keywords-item {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    border: 0.75px solid #b2ffeb;
    color: #b2ffeb;
    margin-right: 5px;
}
.search-empty-icon {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 85px;
    margin-bottom: 10px;
}
.search-empty-text {
    width: 240px;
    font-size: 20px;
    font-weight: 200;
    margin: auto;
    text-align: center;
    padding-bottom: 237px;
}
.selected-search-option {
    background-color: #90bfb0;
    color: white;
}
.resource-menu-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
    transition: 0.2s all;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.resource-menu-item-text {
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    margin-left: 5px;
}
.search-loading-container {
    min-height: 500px;
}
.search-loading-icon {
    display: block !important;
    margin: auto !important;
    margin-top: 100px !important;
}
.search-loading-text {
        font-size: 14px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #18deab;
}
.expand-resource-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 10px;
    border: 2px solid #6f7e77;
    width: fit-content;
    transition: 0.2s all;
    cursor: pointer;
    border-radius: 50px;
    float: right;
}
.expand-resource-icon {
    font-size: 17px !important;
    fill: #6f7e77 !important;
}
.expand-resource-text {
    font-size: 14px;
    margin-left: 7px;
    font-weight: 500;
    color: #6f7e77;
}
.expand-resource-container:hover {
    border-color: #3fffa5;
}
.expand-resource-container:hover .expand-resource-icon {
    fill: #3fffa5 !important;
}
.expand-resource-container:hover .expand-resource-text {
    color: #3fffa5;
}
.expand-resource-container-shrink:hover {
    border-color: #ff840a;
}
.expand-resource-container-shrink:hover .expand-resource-icon-shrink {
    fill: #ff840a !important;
}
.expand-resource-container-shrink:hover .expand-resource-text-shrink {
    color: #ff840a;
}
.resource-library-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
.resource-menu-item {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s;
}
.resource-menu-item:hover {
    color:#3fffa5;
    border-color: #3fffa5;
}
.resource-menu-item-selected {
    color: gold;
    border-color: gold;
    border-bottom: 5px solid;
}
.resource-menu-item-selected:hover {
    color: gold;
    border-color: gold;
}
.modules-resources-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9px;
    padding-bottom: 40px;
}
.module-resource-image {
    max-width: 325px;
    display: block;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.resource-container-empty-icon {
    text-align: center !important;
    display: block !important;
    margin: auto !important;
    font-size: 55px !important;
    fill: #ffd602 !important;
    padding-bottom: 5px !important;
}
.resources-container-empty-h1 {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: #fed703;
}
.resources-container-empty-p {
    width: 250px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    font-size: 15px;
    font-weight: 200;
}
@media only screen and (max-width: 1250px) {
    .module-resource-image {
        max-width: 300px;
    }
}
@media only screen and (max-width: 1130px) {
    .module-resource-image {
        max-width: 262px;
        display: block;
        margin: 5px;
    }
}
/* Media Size Updates 500px */
@media only screen and (max-width: 1000px) {
	.expand-resource-icon {
        font-size: 14px !important;
    }
    .expand-resource-text {
        font-size: 12px;
    }
    .expand-resource-container {
        border-width: 1px;
    }
}